.sidepanel-paper {
    width: 16rem;
    background-color: rgb(23, 23, 23) !important;
    border-right: 1px solid #2a2b32;
    color: white;
    scrollbar-width: none !important;
    overflow: hidden !important;
}

.sidepanel-paper.collapsed {
    width: 4.5rem;
}

.sidepanel-container {
    height: 100%;
    padding: 0.3rem 0.5rem 0.7rem 0.5rem;
    display: flex;
    flex-direction: column;
}

.option-container {
    gap: 0.25rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.divider {
    background-color: #2a2b32;
}

.sidepanel-paper.collapsed .button {
    justify-content: center;
    min-width: 0;
}