.sidepanel-drawer {
    width: 16rem;
}

.sidepanel-paper {
    width: 16rem;;
    background-color: rgb(23, 23, 23) !important;
    border-right: 1px solid #2a2b32;
    color: white;
    scrollbar-width: none !important;
    overflow: hidden !important;
}

.sidepanel-container {
    height: 100%;
    padding: 1rem 0rem 0rem 1rem;
    display: flex;
    flex-direction: column;
}

.option-container {
    gap: 0.25rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.divider {
    background-color: #2a2b32;
}