.chatpanel-container {
    margin-left: 16rem;
    width: calc(100% - 16rem);
    background-color: #1e1e1e;
}

.chatpanel-container.expanded {
    margin-left: 4.5rem;
    width: calc(100% - 4.5rem);
}