.chat-container {
    padding: 0 0.25rem;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.25) transparent;
    margin-bottom: 1rem;
}

.chat-title {
    font-size: 1rem !important;
    color: #9a9b9f;
    margin-bottom: 0.5rem;
}

.chat-list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.chat-item {
    padding: 0.25rem 0.5rem !important;
    border-radius: 0.25rem !important;
    color: white !important;
    cursor: pointer;
}

.chat-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9rem !important;
}

.chat-item:hover {
    background-color: #2a2b32 !important;
}
