.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.header-icon-btn {
    color: white !important;
    border-radius: 50% !important;
}

.header-icon-btn:hover {
    background-color: rgba(147, 139, 139, 0.3) !important;
}
