.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
} 

.btn-icon {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.25rem;
    margin-right: 1rem;
}

.btn-icon:hover {
    background: gray;
    
    border-radius: 15%;
}